smart contracts/node_modules
frontend/health-chain-front/node_modules
smart contracts/.env
smart contracts/coverage
smart contracts/coverage.json
smart contracts/typechain
smart contracts/typechain-types
.env

#Hardhat files
smart contracts/cache
smart contracts/artifacts

